section
{
	margin: 30px;
	padding: 30px;
	text-align: justify;
}
aside
{
	text-align: center;
	color: blue;

}
body
{
	background-color: white;
	color: white;
}
article em{
	color: red;
}
#logo
{
	width: 50%;
	display: inline-block;
	margin: 55px;
}
